---
import LogoSvg from '../assets/logo.svg'
import { Image } from 'astro:assets';

const listLink = [
  {
    id: 1,
    name: 'Home',
    link: '#'
  },
  {
    id: 2,
    name: 'About',
    link: '#'
  },
  {
    id: 3,
    name: 'Contact',
    link: '#'
  },
  {
    id: 4,
    name: 'Blog',
    link: '#'
  },
  {
    id: 5,
    name: 'Careers',
    link: '#'
  },
]
---
<header class="w-full fixed bg-white border-b top-0 h-16 z-10">
  <div class="section mx-auto flex justify-between items-center h-full">
    <div class="flex-grow basis-0 flex">
      <a href="#">
        <Image src={LogoSvg} alt="logo easybank" width={200}>
      </a>
    </div>
    <nav class="h-full hidden lg:inline-block">
      <ul class="flex h-full">
        {listLink.map(({ name, link }) => (
         <li class="h-full">
            <a href={link} class="px-4 flex items-center text-grayishBlue h-full hover:text-darkBlue" id="link">
              {name}
            </a>
          </li> 
        ))}
      </ul>
    </nav>
    <div class="flex-grow basis-0 flex justify-end">
      <a href="#" class="button-primary">Request Invite</a>
    </div>
    <div class="absolute h-1 w-[var(--width)] opacity-[var(--opacity)] bottom-0 duration-300 bg-gradient-to-r from-limeGreen to-brightCyan left-[var(--left)]" id="line"/>
  </div>
</header>
<script>
  const list_link = document.querySelectorAll('#link')
  const line = document.querySelector('#line') as HTMLElement
  
  const setStyleProperty = (
    element: HTMLElement,
    width: number,
    left: number
  ) => {
    element.style.setProperty("--width", `${width}px`);
    element.style.setProperty("--left", `${left}px`);
  };

  list_link.forEach(link => {
    link.addEventListener("mouseover", () => {
      const { width, left } = link.getBoundingClientRect()
      setStyleProperty(line, width, left)
      line.style.setProperty("--opacity", '1')
    })
  });

  list_link.forEach(link => {
    link.addEventListener("mouseout", () => {
      line.style.setProperty("--opacity", '0')
    })
  });
</script>